@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-wrapper {
  flex-grow: 1;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

/* Главная */

/* Шапка */

.header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 70px;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 455px;
  margin-left: 168px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-buttons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  min-width: 270px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-buttons-item:last-child {
  margin-left: 20px;
  padding: 14px 0;
}

.navigation-buttons-link {
  display: block;
  min-width: 20px;
  min-height: 20px;
  text-decoration: none;
}

.navigation-buttons-search {
  box-sizing: border-box;
  width: 44px;
  height: 64px;
  background-image: url("../image/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.navigation-buttons-favorites {
  position: relative;
  box-sizing: border-box;
  width: 44px;
  height: 64px;
  background-image: url("../image/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.navigation-buttons-like {
  position: absolute;
  top: 11px;
  left: 20px;
  display: block;
  padding: 5px;
  padding-left: 4px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
}

.wish-button {
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

/* Лид */

.lead {
  box-sizing: border-box;
  min-height: 485px;
  padding-top: 52px;
  padding-bottom: 81px;
  background-color: #422110;
  background-image: url("../image/lead-decor.svg"),
    url("../image/mountain-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center top;
  background-size: 1200px 57px, cover;
}

.lead-description-image {
  display: block;
  margin: 0 auto;
}

/* Преимущества */

.advantages {
  padding-top: 69px;
  text-align: center;
}

.advantages-title {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-reason {
  width: 660px;
  margin: 0 auto;
  margin-bottom: 90px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  display: flex;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-wrapper {
  width: 400px;
  box-sizing: border-box;
  padding: 113px 85px;
}

.advantages-item-special .advantages-item-wrapper {
  padding: 102px 85px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-title {
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-item-special .advantages-item-description {
  color: #ffffff;
}

.advantages-item-image {
  height: 100%;
  object-fit: cover;
}

/* Услуги */

.services {
  padding-top: 64px;
  text-align: center;
}

.services-title {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-description {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 64px;
  color: #333333;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  box-sizing: border-box;
  padding: 81px 75px;
  width: 400px;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-title {
  margin: 0;
  padding-bottom: 31px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* Поиск гостиницы */

.hotel-search {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.hotel-search-title {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-description {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 54px;
  color: #333333;
}

.hotel-search-button {
  display: inline-block;
  margin: 0 auto;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

/* Подписка */

.subscribe {
  box-sizing: border-box;
  min-height: 415px;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-title {
  width: 540px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-description {
  width: 540px;
  margin: 0 auto;
  margin-bottom: 54px;
  text-align: center;
}

.index-subscribe {
  background-color: #422110;
  background-image: url("../image/mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.index-subscribe .subscribe-title {
  color: #ffffff;
}

.index-subscribe .subscribe-description {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.subscribe-field {
  box-sizing: border-box;
  width: 452px;
  padding: 14px 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
}

/* Подвал */

.page-footer {
  padding: 45px 70px 35px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-button {
  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-wrapper {
  display: grid;
  width: 450px;
  text-align: center;
}

.footer-phone {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-logo {
  width: 115px;
  height: 33px;
}

/* Модальное окно */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(242, 242, 242, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-show {
  display: flex;
}

.modal-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 717px;
  padding: 64px 70px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  background-color: #ffffff;
}

.modal-search-form {
  width: 577px;
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  left: 613px;
  padding: 18px 18px 15px 18px;
  font-family: inherit;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
}

.modal-date-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 4px;
}

.modal-label {
  margin-right: auto;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.modal-field {
  box-sizing: border-box;
  width: 380px;
  padding: 12px 227px 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
}

.field-value {
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
}

.calendar-button {
  width: 60px;
  background-color: #f2f2f2;
  border: none;
}

.notice-message {
  box-sizing: border-box;
  width: 320px;
  margin: 0;
  margin-left: 137px;
  margin-bottom: 23px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
}

.approval-message {
  box-sizing: border-box;
  width: 371px;
  margin: 0;
  margin-left: 137px;
  margin-bottom: 23px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.modal-count-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.modal-count-wrapper {
  margin: 0;
}

.modal-count-wrapper .modal-label {
  margin-right: 46px;
}

.remove-button,
.add-button {
  width: 40px;
  background-color: #f2f2f2;
  border: none;
}

.field-value {
  width: 31px;
  padding: 14px 10px;
}

.search-button {
  padding: 18px 257px;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
}

.tooltip {
  display: none;
}

.tooltip-message {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

/* Каталог */

.header-wrapper {
  box-sizing: border-box;
  min-height: 412px;
  padding: 35px 70px 70px 70px;
  background-color: #422110;
  background-image: url("../image/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

/* Шапка фильтра */

.main-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

/* Фильтр */

.hotel-filter-form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.infrastructure-filter-group {
  flex-basis: 150px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.hotel-filter-title {
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
}

.infrastructure-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.housing-filter-group {
  flex-basis: 150px;
  margin: 0;
  margin-right: 140px;
  padding: 0;
  border: none;
}

.housing-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.control {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.control-input {
  margin: 0;
}

.value-filter-group {
  width: 288px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.price-input {
  width: 60px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
}

.value-filter-range {
  margin: 0;
}

.filter-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 191px;
}

.filter-apply-button {
  padding: 8px 50px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
}

.filter-reset-button {
  margin-top: 32px;
  padding: 8px 50px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 4px;
}

/* Найденные гостиницы */

.found-hotels {
  padding: 50px 70px 60px;
}

.sort-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.found-hotels-title {
  max-width: 350px;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels-sort-wrapper {
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
}

.found-hotels-sort {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 49px;
  padding-left: 15px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.found-hotels-option {
  padding: 0;
}

.view-list {
  display: flex;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.view-button {
  padding: 0;
  border: none;
}

/* Карточки */

.hotels-card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.hotels-card-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  justify-content: space-between;
  gap: 16px;
  min-width: 300px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.card-link-image {
  grid-column: 1 / -1;
  order: -1;
}

.hotels-card-image {
  display: block;
  object-fit: cover;
}

.card-link-title {
  grid-column: 1 / -1;
  color: #000000;
  text-decoration: none;
}

.hotels-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.hotels-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
}

.hotels-card-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: end;
  color: #333333;
}

.more-button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
}

.favorite-button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
}

.favorite-button-current {
  background-color: #7db54f;
}

.hotel-stars {
  align-self: center;
  margin: 0;
  height: 17px;
  width: 18px;
  background: url("../image/star.svg") space 0 0;
}

.hotel-stars-one {
  width: 18px;
}

.hotel-stars-two {
  width: 42px;
}

.hotel-stars-three {
  width: 66px;
}

.hotel-stars-four {
  width: 89px;
}

.hotel-stars-five {
  width: 106px;
}

.hotels-card-rating {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  margin: 0;
  padding: 8px 22px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
}

/* Пагинация */

.hotels-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  padding: 0 12px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-expand {
  color: #000000;
  background-color: #ffffff;
}

.hotels-pagination-item:last-child .pagination-link {
  padding: 12px 20px 13px;
}
